{% extends 'base.html' %}
{% block imports %}
<script src="{{url_for('static', filename='js/apexcharts.min.js') }}"></script>
{% endblock imports %}
{% block content %}
<div class="container">
  <div class="row">
<div class='col-md-6' >
  <div id='chart'></div>
</div> <div class='col-md-6' >
    <div id='chart-1'></div>
  </div> 
</div>Программирование:
{% for i in adv.keys() %}
<br>{% if adv[i] != 0 %} {{i}} -> {{round((adv[i] / sum(adv.values()) * 100), 2) }}%
  {% endif %}
  {% endfor %} </div>
<script>
options_perc = {
      chart: {
        type: 'donut'
  },
  series: [ {% for i in j[:-1] %} {{str(i[0])+","}}{%endfor%}{{j[-1][0]}}],
  labels: ['Физика', 'Химия', 'Математика', 'Биология', 'Русский язык', 'История', 'Психология', 'Информатика']}

var options = {
          chart: {
              type: 'bar',
          },
          plotOptions: {
              bar: {
                  horizontal: true,
              }
          },
          dataLabels: {
              enabled: false
          },
          series: [{
              data: [{% for i in j[:-1] %} {{str(i[1])+","}} {%endfor%} {{j[-1][1]}}]
          }],
          xaxis: {
              categories: ['Физика', 'Химия', 'Математика', 'Биология', 'Русский язык', 'История', 'Психология', 'Информатика'],
          }
      }
    var chart = new ApexCharts(document.getElementById('chart'), options_perc);
    chart.render()
    var chart_1 = new ApexCharts(document.getElementById('chart-1'), options);
    chart_1.render()
</script>
{% endblock content %}